body {
    font-family: sans-serif;
}

.hh {
    font-family: 
Foxcroft NF;
color: white;
}

.yy {
    font-family: 
Masquerade Toy Store Stuff;
color: white;
}

header {
    background-color: blue;
}

body {
    background-color: blue;
}
.link-header  {
    color: aqua;
}

footer {
    background-color: aqua;
}

.uu {
    font-family: Earth Condense Slap Tight Victimized Killed Pressed Pulled;
}
